body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-style: bold;
}

button {
  padding: 3px 5px;
}

.button-wrapper > button {
  display: block;
}

.radiobutton-wrapper > span {
  display: block;
}
.group-radio-buttons {
  display: block;
}
