<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link href="../photon/index.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="content">
      <div class="title-container">
        <img src="../icons/bell-96.png" alt="Application logo" />
        <h1 data-i18n-msg="extensionName">Shklanky</h1>
      </div>
      <h2 data-i18n-msg="installReady">All's ready!</h2>
      <p data-i18n-msg="installWatchSystem">
        We'll now be watchkeeping in the simple system (with no two-hour dog watches).
      </p>
      <p data-i18n-msg="installIconDescription">
        All settings are available after clicking the extension's icon - look for a ship's bell in the top right corner
        of your browser. The same icon is displayed in gray when the extension is muted.
      </p>
      <figure>
        <img src="icon-location.png" alt="Icon location in the toolbar" />
        <figcaption class="caption" data-i18n-msg="installIconScreenshotCaption">
          Icon location in the toolbar
        </figcaption>
      </figure>
      <p>
        <span data-i18n-msg="installThanks">Thanks for installing.</span>😊
        <span data-i18n-msg="installReport">
          If you have any issues or suggestions, I invite you to report them in
        </span>
        <a class="link link--external" href="https://github.com/Maarrk/shklanky/issues" data-i18n-msg="installRepoName">
          the repository</a
        >.
      </p>
      <h3 data-i18n-msg="installGoodbye">May you have fair winds and following seas!</h3>
    </div>
    <script src="../localize.js"></script>
  </body>
</html>
